<nav class="navbar navbar-light">
  <form class="form-inline text-center">
    <button class="btn btn-outline-success" id="scraper" type="button">SCRAPE</button>
  </form>
</nav>

	
<div class="jumbotron text-center">
	<div class="layer">
		<h1>Mongo Scraper</h1>
		<h3>Reddit Gaming</h3>
	</div>
</div>


<div class= "container">
    <div class="row">
       <div class="col-sm-4">
            <div id="articles"></div>
        </div>
          <div class="col-sm-4">
        </div>

         <div class="col-sm-4">
            <div id="Comments"></div>
            <div id="articleDelete"></div>
        </div>
</div>
</div>